
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 128rem;
}.desktop-JoN {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.desktop-JoN .auto-group-ghly-LVA {
  box-sizing: border-box;
  padding: 0.9rem 3.8rem 0.8rem 7.1rem;
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  flex-shrink: 0;
}
.desktop-JoN .auto-group-ghly-LVA .leetcode-logo-kxC {
  margin: 0rem 3.595rem 0.1rem 0rem;
  width: 1.7045rem;
  height: 2rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-JoN .auto-group-ghly-LVA .explore-2ui {
  margin-right: 3.1rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.1475;
  color: rgba(38, 38, 38, 0.7490196228);
  font-family: Asap, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-JoN .auto-group-ghly-LVA .problems-68t {
  margin-right: 2.9rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.1475;
  color: rgba(38, 38, 38, 0.7490196228);
  font-family: Asap, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-JoN .auto-group-ghly-LVA .contest-AeY {
  margin-right: 2.7rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.1475;
  color: rgba(38, 38, 38, 0.7490196228);
  font-family: Asap, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-JoN .auto-group-ghly-LVA .discuss-HDN {
  margin-right: 2.9rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.1475;
  color: rgba(38, 38, 38, 0.7490196228);
  font-family: Asap, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-JoN .auto-group-ghly-LVA .interview-bzk {
  margin-right: 0.4rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.1475;
  color: rgba(38, 38, 38, 0.7490196228);
  font-family: Asap, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-JoN .auto-group-ghly-LVA .interview-option-ipU {
  margin: 0.1rem 2.3rem 0rem 0rem;
  width: 1.5rem;
  height: 0.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-JoN .auto-group-ghly-LVA .store-q8Q {
  margin-right: 0.3rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.1475;
  color: #ffa116;
  font-family: Asap, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-JoN .auto-group-ghly-LVA .store-option-MMe {
  margin: 0.1rem 38.1rem 0rem 0rem;
  width: 1.5rem;
  height: 0.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-JoN .auto-group-ghly-LVA .auto-group-lf4q-s56 {
  margin-right: 2.653rem;
  width: 7.947rem;
  height: 100%;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.1475;
  color: #ffa116;
  font-family: Asap, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 10, 32, 0.0509803928);
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.desktop-JoN .auto-group-ghly-LVA .register-gHS {
  margin: 0.2rem 0.9rem 0rem 0rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.1475;
  color: rgba(38, 38, 38, 0.7490196228);
  font-family: Asap, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-JoN .auto-group-ghly-LVA .or-mJt {
  margin: 0.2rem 0.9rem 0rem 0rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.1475;
  color: rgba(38, 38, 38, 0.7490196228);
  font-family: Asap, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-JoN .auto-group-ghly-LVA .sign-in-ssi {
  margin-top: 0.2rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.1475;
  color: rgba(38, 38, 38, 0.7490196228);
  font-family: Asap, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-JoN .auto-group-74qz-xuA {
  box-sizing: border-box;
  padding: 5rem 4rem 0rem 6.9rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-ufcp-4hJ {
  margin: 0rem 31.3rem 3.5rem 80rem;
  width: calc(100% - 111.3rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-ufcp-4hJ .auto-group-2wzk-aQk {
  margin-right: 1rem;
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-ufcp-4hJ .auto-group-s6ck-i1A {
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-uwxc-Pd6 {
  margin-right: 3.567rem;
  width: 86.533rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-uwxc-Pd6 .auto-group-xoue-KWk {
  box-sizing: border-box;
  padding-bottom: 3.9rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-uwxc-Pd6 .auto-group-xoue-KWk .auto-group-un4t-4DS {
  margin-bottom: 4.6rem;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-uwxc-Pd6 .auto-group-xoue-KWk .auto-group-un4t-4DS .early-access-MLx {
  margin-right: 2.6rem;
  width: 27rem;
  height: 13.5rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-uwxc-Pd6 .auto-group-xoue-KWk .auto-group-un4t-4DS .weekly-contest-3zU {
  margin-right: 2.4rem;
  width: 27rem;
  height: 13.5rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-uwxc-Pd6 .auto-group-xoue-KWk .auto-group-un4t-4DS .interview-crash-course-B56 {
  margin-bottom: 0.1rem;
  width: 27rem;
  height: 13.5rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-uwxc-Pd6 .auto-group-xoue-KWk .auto-group-hdr6-fW4 {
  margin: 0rem 0.733rem 2.3rem 0.2rem;
  width: calc(100% - 0.933rem);
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-uwxc-Pd6 .auto-group-xoue-KWk .auto-group-hdr6-fW4 .study-plan-yFr {
  margin: 0rem 72rem 0.4rem 0rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.1475;
  color: rgba(26, 26, 26, 0.7490196228);
  font-family: Asap, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-uwxc-Pd6 .auto-group-xoue-KWk .auto-group-hdr6-fW4 .see-all-4HJ {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.1475;
  color: #007aff;
  font-family: Asap, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-uwxc-Pd6 .auto-group-xoue-KWk .auto-group-upfn-nUC {
  margin-left: 0.2rem;
  height: 8.8rem;
  display: flex;
  column-gap: 1.867rem;
  align-items: center;
  flex-shrink: 0;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-uwxc-Pd6 .auto-group-xoue-KWk .auto-group-upfn-nUC .auto-group-uzmn-JxL {
  box-sizing: border-box;
  padding: 0.8rem 1.933rem 0.8rem 0.6rem;
  height: 100%;
  display: flex;
  align-items: center;
  box-shadow: 0 0.4rem 1.5rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-uwxc-Pd6 .auto-group-xoue-KWk .auto-group-upfn-nUC .auto-group-uzmn-JxL .cover-1-DJc {
  margin-right: 1.3rem;
  width: 7.2rem;
  height: 7.2rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-uwxc-Pd6 .auto-group-xoue-KWk .auto-group-upfn-nUC .auto-group-uzmn-JxL .auto-group-jtjg-Y5z {
  margin: 1.6rem 0rem 1.2rem 0rem;
  height: calc(100% - 2.8rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-uwxc-Pd6 .auto-group-xoue-KWk .auto-group-upfn-nUC .auto-group-uzmn-JxL .auto-group-jtjg-Y5z .top-interview-150-Fm6 {
  margin-bottom: 0.2rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.575;
  color: #1a1a1a;
  font-family: Halant, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-uwxc-Pd6 .auto-group-xoue-KWk .auto-group-upfn-nUC .auto-group-uzmn-JxL .auto-group-jtjg-Y5z .must-do-list-for-interview-prep-NKv {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.575;
  color: rgba(82, 82, 82, 0.6000000238);
  font-family: Halant, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-uwxc-Pd6 .auto-group-xoue-KWk .auto-group-upfn-nUC .auto-group-dnz8-czx {
  box-sizing: border-box;
  padding: 0.8rem 1.333rem 0.8rem 0.9rem;
  height: 100%;
  display: flex;
  align-items: center;
  box-shadow: 0 0.4rem 1.5rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-uwxc-Pd6 .auto-group-xoue-KWk .auto-group-upfn-nUC .auto-group-dnz8-czx .cover-1-1-9EC {
  margin-right: 1.3rem;
  width: 7.2rem;
  height: 7.2rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-uwxc-Pd6 .auto-group-xoue-KWk .auto-group-upfn-nUC .auto-group-dnz8-czx .auto-group-5io6-rPW {
  margin: 1.6rem 0rem 1.2rem 0rem;
  height: calc(100% - 2.8rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-uwxc-Pd6 .auto-group-xoue-KWk .auto-group-upfn-nUC .auto-group-dnz8-czx .auto-group-5io6-rPW .leetcode-75-NMr {
  margin-bottom: 0.2rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.575;
  color: #1a1a1a;
  font-family: Halant, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-uwxc-Pd6 .auto-group-xoue-KWk .auto-group-upfn-nUC .auto-group-dnz8-czx .auto-group-5io6-rPW .ace-coding-interview-with-75-qs-gdS {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.575;
  color: rgba(82, 82, 82, 0.6000000238);
  font-family: Halant, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-uwxc-Pd6 .auto-group-xoue-KWk .auto-group-upfn-nUC .auto-group-mde4-9mv {
  box-sizing: border-box;
  padding: 0.8rem 3.133rem 0.8rem 0.8rem;
  height: 100%;
  display: flex;
  align-items: center;
  box-shadow: 0 0.4rem 1.5rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-uwxc-Pd6 .auto-group-xoue-KWk .auto-group-upfn-nUC .auto-group-mde4-9mv .cover-2-1-UZJ {
  margin-right: 1.3rem;
  width: 7.2rem;
  height: 7.2rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-uwxc-Pd6 .auto-group-xoue-KWk .auto-group-upfn-nUC .auto-group-mde4-9mv .auto-group-zwyr-PwA {
  margin: 1.6rem 0rem 1.2rem 0rem;
  height: calc(100% - 2.8rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-uwxc-Pd6 .auto-group-xoue-KWk .auto-group-upfn-nUC .auto-group-mde4-9mv .auto-group-zwyr-PwA .sql-50-iyS {
  margin-bottom: 0.2rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.575;
  color: #1a1a1a;
  font-family: Halant, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-uwxc-Pd6 .auto-group-xoue-KWk .auto-group-upfn-nUC .auto-group-mde4-9mv .auto-group-zwyr-PwA .crack-sql-interview-in-50-qs-r44 {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.575;
  color: rgba(82, 82, 82, 0.6000000238);
  font-family: Halant, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-uwxc-Pd6 .auto-group-xqhr-6yz {
  width: 100%;
  height: 8.8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-uwxc-Pd6 .auto-group-xqhr-6yz .auto-group-2cnp-Snx {
  margin-right: 2.067rem;
  box-sizing: border-box;
  padding: 0.8rem 2.933rem 0.8rem 0.8rem;
  height: 100%;
  display: flex;
  align-items: center;
  box-shadow: 0 0.4rem 1.5rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-uwxc-Pd6 .auto-group-xqhr-6yz .auto-group-2cnp-Snx .cover-3-1-Z6t {
  margin-right: 1.3rem;
  width: 7.2rem;
  height: 7.2rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-uwxc-Pd6 .auto-group-xqhr-6yz .auto-group-2cnp-Snx .auto-group-ykcy-stG {
  margin: 1.4rem 0rem 1.3rem 0rem;
  height: calc(100% - 2.7rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-uwxc-Pd6 .auto-group-xqhr-6yz .auto-group-2cnp-Snx .auto-group-ykcy-stG .days-of-pandas-CvY {
  margin-bottom: 0.3rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.575;
  color: #1a1a1a;
  font-family: Halant, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-uwxc-Pd6 .auto-group-xqhr-6yz .auto-group-2cnp-Snx .auto-group-ykcy-stG .limited-time-free-in-august-WwE {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.575;
  color: rgba(82, 82, 82, 0.6000000238);
  font-family: Halant, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-uwxc-Pd6 .auto-group-xqhr-6yz .auto-group-synt-NiY {
  margin-right: 1.867rem;
  box-sizing: border-box;
  padding: 0.8rem 5.233rem 0.8rem 0.9rem;
  height: 100%;
  display: flex;
  align-items: center;
  box-shadow: 0 0.4rem 1.5rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-uwxc-Pd6 .auto-group-xqhr-6yz .auto-group-synt-NiY .cover-4-1-SyJ {
  margin-right: 0.7rem;
  width: 7.2rem;
  height: 7.2rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-uwxc-Pd6 .auto-group-xqhr-6yz .auto-group-synt-NiY .auto-group-dxjc-Zo2 {
  margin: 1.4rem 0rem 1.3rem 0rem;
  height: calc(100% - 2.7rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-uwxc-Pd6 .auto-group-xqhr-6yz .auto-group-synt-NiY .auto-group-dxjc-Zo2 .days-of-javascript-taQ {
  margin-bottom: 0.3rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.575;
  color: #1a1a1a;
  font-family: Halant, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-uwxc-Pd6 .auto-group-xqhr-6yz .auto-group-synt-NiY .auto-group-dxjc-Zo2 .learn-js-basics-with-30-qs-19E {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.575;
  color: rgba(82, 82, 82, 0.6000000238);
  font-family: Halant, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-uwxc-Pd6 .auto-group-xqhr-6yz .auto-group-qed2-sx8 {
  box-sizing: border-box;
  padding: 0.8rem 2.233rem 0.8rem 0.8rem;
  height: 100%;
  display: flex;
  align-items: center;
  box-shadow: 0 0.4rem 1.5rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-uwxc-Pd6 .auto-group-xqhr-6yz .auto-group-qed2-sx8 .cover-5-1-zG4 {
  margin-right: 1.3rem;
  width: 7.2rem;
  height: 7.2rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-uwxc-Pd6 .auto-group-xqhr-6yz .auto-group-qed2-sx8 .auto-group-mmye-75n {
  margin: 1.4rem 0rem 1.3rem 0rem;
  height: calc(100% - 2.7rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-uwxc-Pd6 .auto-group-xqhr-6yz .auto-group-qed2-sx8 .auto-group-mmye-75n .amazon-spring-23-high-q1n {
  margin-bottom: 0.3rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.575;
  color: #1a1a1a;
  font-family: Halant, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-uwxc-Pd6 .auto-group-xqhr-6yz .auto-group-qed2-sx8 .auto-group-mmye-75n .practice-amazon-25-recently-8ma {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.575;
  color: rgba(82, 82, 82, 0.6000000238);
  font-family: Halant, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-uwxc-Pd6 .auto-group-gy8u-PBi {
  box-sizing: border-box;
  padding-top: 4.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-uwxc-Pd6 .auto-group-gy8u-PBi .rectangle-10-KbA {
  margin-bottom: 4rem;
  width: 85.8rem;
  height: 0.1rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-uwxc-Pd6 .auto-group-gy8u-PBi .auto-group-nzv2-Sfn {
  margin-left: 0.2rem;
  height: 1.8rem;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-uwxc-Pd6 .auto-group-gy8u-PBi .auto-group-nzv2-Sfn .array-xPE {
  margin-right: 0.4rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.1475;
  color: #262626;
  font-family: Asap, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-uwxc-Pd6 .auto-group-gy8u-PBi .auto-group-nzv2-Sfn .auto-group-qvkj-UsN {
  margin-right: 2.512rem;
  width: 3.788rem;
  height: 100%;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.1475;
  color: rgba(60, 60, 67, 0.6000000238);
  font-family: Asap, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 10, 32, 0.0509803928);
  border-radius: 1rem;
  flex-shrink: 0;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-uwxc-Pd6 .auto-group-gy8u-PBi .auto-group-nzv2-Sfn .string-j2c {
  margin-right: 0.2rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.1475;
  color: #262626;
  font-family: Asap, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-uwxc-Pd6 .auto-group-gy8u-PBi .auto-group-nzv2-Sfn .auto-group-hqbn-TDW {
  margin-right: 2.3rem;
  width: 3rem;
  height: 100%;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.1475;
  color: rgba(60, 60, 67, 0.6000000238);
  font-family: Asap, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 10, 32, 0.0509803928);
  border-radius: 1rem;
  flex-shrink: 0;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-uwxc-Pd6 .auto-group-gy8u-PBi .auto-group-nzv2-Sfn .hash-table-tZi {
  margin-right: 0.3rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.1475;
  color: #262626;
  font-family: Asap, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-uwxc-Pd6 .auto-group-gy8u-PBi .auto-group-nzv2-Sfn .auto-group-jixk-ckc {
  margin-right: 1.9rem;
  width: 3rem;
  height: 100%;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.1475;
  color: rgba(60, 60, 67, 0.6000000238);
  font-family: Asap, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 10, 32, 0.0509803928);
  border-radius: 1rem;
  flex-shrink: 0;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-uwxc-Pd6 .auto-group-gy8u-PBi .auto-group-nzv2-Sfn .dynamic-programming-VJc {
  margin-right: 0.3rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.1475;
  color: #262626;
  font-family: Asap, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-uwxc-Pd6 .auto-group-gy8u-PBi .auto-group-nzv2-Sfn .auto-group-8sdr-124 {
  margin-right: 1.9rem;
  width: 3rem;
  height: 100%;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.1475;
  color: rgba(60, 60, 67, 0.6000000238);
  font-family: Asap, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 10, 32, 0.0509803928);
  border-radius: 1rem;
  flex-shrink: 0;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-uwxc-Pd6 .auto-group-gy8u-PBi .auto-group-nzv2-Sfn .math-sKA {
  margin-right: 0.3rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.1475;
  color: #262626;
  font-family: Asap, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-uwxc-Pd6 .auto-group-gy8u-PBi .auto-group-nzv2-Sfn .auto-group-ep3j-Bak {
  margin-right: 1.9rem;
  width: 3rem;
  height: 100%;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.1475;
  color: rgba(60, 60, 67, 0.6000000238);
  font-family: Asap, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 10, 32, 0.0509803928);
  border-radius: 1rem;
  flex-shrink: 0;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-uwxc-Pd6 .auto-group-gy8u-PBi .auto-group-nzv2-Sfn .sorting-rB6 {
  margin-right: 0.6rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.1475;
  color: #262626;
  font-family: Asap, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-uwxc-Pd6 .auto-group-gy8u-PBi .auto-group-nzv2-Sfn .auto-group-ut3a-yWc {
  margin-right: 1.7rem;
  width: 3rem;
  height: 100%;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.1475;
  color: rgba(60, 60, 67, 0.6000000238);
  font-family: Asap, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 10, 32, 0.0509803928);
  border-radius: 1rem;
  flex-shrink: 0;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-uwxc-Pd6 .auto-group-gy8u-PBi .auto-group-nzv2-Sfn .greedy-r4c {
  margin-right: 0.5rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.1475;
  color: #262626;
  font-family: Asap, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-uwxc-Pd6 .auto-group-gy8u-PBi .auto-group-nzv2-Sfn .auto-group-opbi-P4Y {
  margin-right: 3.2rem;
  width: 3rem;
  height: 100%;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.1475;
  color: rgba(60, 60, 67, 0.6000000238);
  font-family: Asap, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 10, 32, 0.0509803928);
  border-radius: 1rem;
  flex-shrink: 0;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-uwxc-Pd6 .auto-group-gy8u-PBi .auto-group-nzv2-Sfn .expand-f24 {
  margin-right: 0.3rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.1475;
  color: rgba(60, 60, 67, 0.6000000238);
  font-family: Asap, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-uwxc-Pd6 .auto-group-gy8u-PBi .auto-group-nzv2-Sfn .auto-group-nwn8-z4L {
  margin-bottom: 0.3rem;
  width: 0.8rem;
  height: 1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-bh96-Hp8 {
  margin-top: 0.1rem;
  width: 27rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-bh96-Hp8 .auto-group-aecc-RfS {
  margin-bottom: 2.2rem;
  width: 100%;
  height: 39.3rem;
  position: relative;
  flex-shrink: 0;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-bh96-Hp8 .auto-group-aecc-RfS .calender-box-sXS {
  width: 27rem;
  height: 36rem;
  position: absolute;
  left: 0;
  top: 3.3rem;
  box-shadow: 0 0.4rem 1.5rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 0.8rem;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-bh96-Hp8 .auto-group-aecc-RfS .item-0-YtU {
  width: 0.7rem;
  height: 1.4rem;
  position: absolute;
  left: 4.1rem;
  top: 36.4rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.1475;
  color: rgba(38, 38, 38, 0.7490196228);
  font-family: Asap, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-bh96-Hp8 .auto-group-aecc-RfS .redeem-dQ8 {
  width: 4.4rem;
  height: 1.4rem;
  position: absolute;
  left: 5.7rem;
  top: 36.4rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.1475;
  color: #2db55d;
  font-family: Asap, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-bh96-Hp8 .auto-group-aecc-RfS .rules-7q6 {
  width: 2.9rem;
  height: 1.4rem;
  position: absolute;
  left: 22.2rem;
  top: 36.4rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.1475;
  color: rgba(60, 60, 67, 0.6000000238);
  font-family: Asap, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-bh96-Hp8 .auto-group-aecc-RfS .leetcode-date-badge-oxp {
  width: 5.894rem;
  height: 5.894rem;
  position: absolute;
  left: 19rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-bh96-Hp8 .auto-group-aecc-RfS .item-6-LC4 {
  width: 0.7rem;
  height: 1.4rem;
  position: absolute;
  left: 2.2rem;
  top: 13.9rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.1475;
  color: rgba(60, 60, 67, 0.6000000238);
  font-family: Asap, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-bh96-Hp8 .auto-group-aecc-RfS .item-7-psv {
  width: 0.7rem;
  height: 1.4rem;
  position: absolute;
  left: 6.1rem;
  top: 13.9rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.1475;
  color: rgba(60, 60, 67, 0.6000000238);
  font-family: Asap, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-bh96-Hp8 .auto-group-aecc-RfS .item-8-uuN {
  width: 0.7rem;
  height: 1.4rem;
  position: absolute;
  left: 9.7rem;
  top: 13.9rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.1475;
  color: rgba(60, 60, 67, 0.6000000238);
  font-family: Asap, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-bh96-Hp8 .auto-group-aecc-RfS .item-9-c36 {
  width: 0.7rem;
  height: 1.4rem;
  position: absolute;
  left: 13.4rem;
  top: 13.9rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.1475;
  color: rgba(60, 60, 67, 0.6000000238);
  font-family: Asap, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-bh96-Hp8 .auto-group-aecc-RfS .item-10-JAp {
  width: 1.3rem;
  height: 1.4rem;
  position: absolute;
  left: 16.5rem;
  top: 13.9rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.1475;
  color: rgba(60, 60, 67, 0.6000000238);
  font-family: Asap, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-bh96-Hp8 .auto-group-aecc-RfS .item-11-o7a {
  width: 1.3rem;
  height: 1.4rem;
  position: absolute;
  left: 20.3rem;
  top: 13.9rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.1475;
  color: rgba(60, 60, 67, 0.6000000238);
  font-family: Asap, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-bh96-Hp8 .auto-group-aecc-RfS .item-4-HoS {
  width: 0.7rem;
  height: 1.4rem;
  position: absolute;
  left: 20.5rem;
  top: 11.1rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.1475;
  color: rgba(60, 60, 67, 0.6000000238);
  font-family: Asap, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-bh96-Hp8 .auto-group-aecc-RfS .item-5-nVJ {
  width: 0.7rem;
  height: 1.4rem;
  position: absolute;
  left: 24.2rem;
  top: 11.1rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.1475;
  color: rgba(60, 60, 67, 0.6000000238);
  font-family: Asap, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-bh96-Hp8 .auto-group-aecc-RfS .item-3-Usv {
  width: 0.7rem;
  height: 1.4rem;
  position: absolute;
  left: 16.8rem;
  top: 11.1rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.1475;
  color: rgba(60, 60, 67, 0.6000000238);
  font-family: Asap, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-bh96-Hp8 .auto-group-aecc-RfS .item-2-yZn {
  width: 0.7rem;
  height: 1.4rem;
  position: absolute;
  left: 13.4rem;
  top: 11.1rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.1475;
  color: rgba(60, 60, 67, 0.6000000238);
  font-family: Asap, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-bh96-Hp8 .auto-group-aecc-RfS .item-1-GYt {
  width: 0.7rem;
  height: 1.4rem;
  position: absolute;
  left: 9.7rem;
  top: 11.1rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.1475;
  color: rgba(60, 60, 67, 0.6000000238);
  font-family: Asap, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-bh96-Hp8 .auto-group-aecc-RfS .item-12-xwW {
  width: 1.3rem;
  height: 1.4rem;
  position: absolute;
  left: 23.9rem;
  top: 13.9rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.1475;
  color: rgba(60, 60, 67, 0.6000000238);
  font-family: Asap, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-bh96-Hp8 .auto-group-aecc-RfS .item-19-3i4 {
  width: 1.3rem;
  height: 1.4rem;
  position: absolute;
  left: 23.9rem;
  top: 17rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.1475;
  color: rgba(60, 60, 67, 0.6000000238);
  font-family: Asap, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-bh96-Hp8 .auto-group-aecc-RfS .item-26-jat {
  width: 1.3rem;
  height: 1.4rem;
  position: absolute;
  left: 23.9rem;
  top: 20.2rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.1475;
  color: rgba(60, 60, 67, 0.6000000238);
  font-family: Asap, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-bh96-Hp8 .auto-group-aecc-RfS .item-25-E1r {
  width: 1.3rem;
  height: 1.4rem;
  position: absolute;
  left: 20.3rem;
  top: 20.2rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.1475;
  color: rgba(60, 60, 67, 0.6000000238);
  font-family: Asap, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-bh96-Hp8 .auto-group-aecc-RfS .item-17-JGc {
  width: 1.3rem;
  height: 1.4rem;
  position: absolute;
  left: 16.5rem;
  top: 17rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.1475;
  color: rgba(60, 60, 67, 0.6000000238);
  font-family: Asap, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-bh96-Hp8 .auto-group-aecc-RfS .item-16-bWc {
  width: 1.3rem;
  height: 1.4rem;
  position: absolute;
  left: 13.1rem;
  top: 17rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.1475;
  color: rgba(60, 60, 67, 0.6000000238);
  font-family: Asap, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-bh96-Hp8 .auto-group-aecc-RfS .item-15-fmN {
  width: 1.3rem;
  height: 1.4rem;
  position: absolute;
  left: 9.4rem;
  top: 17rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.1475;
  color: rgba(60, 60, 67, 0.6000000238);
  font-family: Asap, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-bh96-Hp8 .auto-group-aecc-RfS .item-14-xkU {
  width: 1.3rem;
  height: 1.4rem;
  position: absolute;
  left: 5.7rem;
  top: 17rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.1475;
  color: rgba(60, 60, 67, 0.6000000238);
  font-family: Asap, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-bh96-Hp8 .auto-group-aecc-RfS .item-18-eNQ {
  width: 1.3rem;
  height: 1.4rem;
  position: absolute;
  left: 20.3rem;
  top: 17rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.1475;
  color: rgba(60, 60, 67, 0.6000000238);
  font-family: Asap, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-bh96-Hp8 .auto-group-aecc-RfS .s-Xwz {
  width: 0.6rem;
  height: 1.4rem;
  position: absolute;
  left: 2.3rem;
  top: 7.7rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.1475;
  color: rgba(60, 60, 67, 0.3019607961);
  font-family: Asap, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-bh96-Hp8 .auto-group-aecc-RfS .m-qBz {
  width: 1.1rem;
  height: 1.4rem;
  position: absolute;
  left: 5.7rem;
  top: 7.7rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.1475;
  color: rgba(60, 60, 67, 0.3019607961);
  font-family: Asap, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-bh96-Hp8 .auto-group-aecc-RfS .left-XKi {
  width: 5.4rem;
  height: 1.2rem;
  position: absolute;
  left: 5rem;
  top: 5.1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.1475;
  color: rgba(60, 60, 67, 0.3019607961);
  font-family: Asap, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-bh96-Hp8 .auto-group-aecc-RfS .t-Cwe {
  width: 0.7rem;
  height: 1.4rem;
  position: absolute;
  left: 9.5rem;
  top: 7.7rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.1475;
  color: rgba(60, 60, 67, 0.3019607961);
  font-family: Asap, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-bh96-Hp8 .auto-group-aecc-RfS .w-ubA {
  width: 1.1rem;
  height: 1.4rem;
  position: absolute;
  left: 13rem;
  top: 7.8rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.1475;
  color: rgba(60, 60, 67, 0.3019607961);
  font-family: Asap, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-bh96-Hp8 .auto-group-aecc-RfS .item-20-PmE {
  width: 1.3rem;
  height: 1.4rem;
  position: absolute;
  left: 1.8rem;
  top: 20.2rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.1475;
  color: rgba(60, 60, 67, 0.6000000238);
  font-family: Asap, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-bh96-Hp8 .auto-group-aecc-RfS .item-21-5e4 {
  width: 1.3rem;
  height: 1.4rem;
  position: absolute;
  left: 5.7rem;
  top: 20.2rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.1475;
  color: rgba(60, 60, 67, 0.6000000238);
  font-family: Asap, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-bh96-Hp8 .auto-group-aecc-RfS .item-22-aKv {
  width: 1.3rem;
  height: 1.4rem;
  position: absolute;
  left: 9.4rem;
  top: 20.2rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.1475;
  color: rgba(60, 60, 67, 0.6000000238);
  font-family: Asap, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-bh96-Hp8 .auto-group-aecc-RfS .item-23-4Vz {
  width: 1.3rem;
  height: 1.4rem;
  position: absolute;
  left: 13.1rem;
  top: 20.2rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.1475;
  color: rgba(60, 60, 67, 0.6000000238);
  font-family: Asap, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-bh96-Hp8 .auto-group-aecc-RfS .item-30-Mjz {
  width: 1.3rem;
  height: 1.4rem;
  position: absolute;
  left: 13.1rem;
  top: 23.2rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.1475;
  color: rgba(60, 60, 67, 0.6000000238);
  font-family: Asap, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-bh96-Hp8 .auto-group-aecc-RfS .item-29-THE {
  width: 1.3rem;
  height: 1.4rem;
  position: absolute;
  left: 9.4rem;
  top: 23.2rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.1475;
  color: rgba(60, 60, 67, 0.6000000238);
  font-family: Asap, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-bh96-Hp8 .auto-group-aecc-RfS .item-28-mHv {
  width: 1.3rem;
  height: 1.4rem;
  position: absolute;
  left: 5.7rem;
  top: 23.2rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.1475;
  color: rgba(60, 60, 67, 0.6000000238);
  font-family: Asap, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-bh96-Hp8 .auto-group-aecc-RfS .item-31-TwS {
  width: 1.3rem;
  height: 1.4rem;
  position: absolute;
  left: 16.5rem;
  top: 23.2rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.1475;
  color: rgba(60, 60, 67, 0.6000000238);
  font-family: Asap, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-bh96-Hp8 .auto-group-aecc-RfS .item-27-aWG {
  width: 1.3rem;
  height: 1.4rem;
  position: absolute;
  left: 1.8rem;
  top: 23.2rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.1475;
  color: rgba(60, 60, 67, 0.6000000238);
  font-family: Asap, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-bh96-Hp8 .auto-group-aecc-RfS .item-13-Vt8 {
  width: 1.3rem;
  height: 1.4rem;
  position: absolute;
  left: 1.8rem;
  top: 17rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.1475;
  color: rgba(60, 60, 67, 0.6000000238);
  font-family: Asap, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-bh96-Hp8 .auto-group-aecc-RfS .t-pfW {
  width: 0.7rem;
  height: 1.4rem;
  position: absolute;
  left: 16.8rem;
  top: 7.8rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.1475;
  color: rgba(60, 60, 67, 0.3019607961);
  font-family: Asap, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-bh96-Hp8 .auto-group-aecc-RfS .f-x12 {
  width: 0.7rem;
  height: 1.4rem;
  position: absolute;
  left: 20.5rem;
  top: 7.8rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.1475;
  color: rgba(60, 60, 67, 0.3019607961);
  font-family: Asap, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-bh96-Hp8 .auto-group-aecc-RfS .s-s7z {
  width: 0.6rem;
  height: 1.4rem;
  position: absolute;
  left: 24rem;
  top: 7.8rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.1475;
  color: rgba(60, 60, 67, 0.3019607961);
  font-family: Asap, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-bh96-Hp8 .auto-group-aecc-RfS .date-highlight-NqS {
  width: 2.1rem;
  height: 2.1rem;
  position: absolute;
  left: 16.2rem;
  top: 19.8rem;
  background-color: #2db55d;
  border-radius: 1.05rem;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-bh96-Hp8 .auto-group-aecc-RfS .w4-highlight-hcp {
  width: 2.1rem;
  height: 2.1rem;
  position: absolute;
  left: 17rem;
  top: 31.4rem;
  background-color: #ffd116;
  border-radius: 1.05rem;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-bh96-Hp8 .auto-group-aecc-RfS .item-24-EMr {
  width: 1.3rem;
  height: 1.4rem;
  position: absolute;
  left: 16.5rem;
  top: 20.2rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.1475;
  color: #ffffff;
  font-family: Asap, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-bh96-Hp8 .auto-group-aecc-RfS .day-24-wGG {
  width: 3.7rem;
  height: 1.4rem;
  position: absolute;
  left: 1rem;
  top: 4.9rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.1475;
  color: rgba(38, 38, 38, 0.7490196228);
  font-family: Asap, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-bh96-Hp8 .auto-group-aecc-RfS .weekly-premium-box-egU {
  width: 23.8rem;
  height: 8rem;
  position: absolute;
  left: 1.3rem;
  top: 27rem;
  background-color: rgba(241, 199, 138, 0.150000006);
  border-radius: 0.8rem;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-bh96-Hp8 .auto-group-aecc-RfS .ellipse-2-xhA {
  width: 1.2rem;
  height: 1.2rem;
  position: absolute;
  left: 11.8rem;
  top: 27.9rem;
  border: solid 0.1rem #ffd116;
  box-sizing: border-box;
  background-color: rgba(241, 199, 138, 0.150000006);
  border-radius: 0.6rem;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-bh96-Hp8 .auto-group-aecc-RfS .weekly-premium--Ttp {
  width: 10.2rem;
  height: 1.5rem;
  position: absolute;
  left: 2.4rem;
  top: 27.6rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.1460000674;
  color: #ffd116;
  font-family: Asap, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-bh96-Hp8 .auto-group-aecc-RfS .weekly-premium--Ttp .weekly-premium--Ttp-sub-0 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2275;
  color: #ffd116;
  font-family: Salsa, 'Source Sans Pro';
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-bh96-Hp8 .auto-group-aecc-RfS .weekly-premium--Ttp .weekly-premium--Ttp-sub-1 {
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.2275;
  color: #ffd116;
  font-family: Salsa, 'Source Sans Pro';
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-bh96-Hp8 .auto-group-aecc-RfS .w1-u24 {
  width: 1.6rem;
  height: 1.5rem;
  position: absolute;
  left: 3.3rem;
  top: 31.7rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2275;
  color: #ffd116;
  font-family: Salsa, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-bh96-Hp8 .auto-group-aecc-RfS .w2-1qn {
  width: 1.7rem;
  height: 1.5rem;
  position: absolute;
  left: 7.8rem;
  top: 31.7rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2275;
  color: #ffd116;
  font-family: Salsa, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-bh96-Hp8 .auto-group-aecc-RfS .w3-jmn {
  width: 1.8rem;
  height: 1.5rem;
  position: absolute;
  left: 12.4rem;
  top: 31.7rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2275;
  color: #ffd116;
  font-family: Salsa, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-bh96-Hp8 .auto-group-aecc-RfS .w4-eNx {
  width: 1.8rem;
  height: 1.5rem;
  position: absolute;
  left: 17.2rem;
  top: 31.7rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2275;
  color: #ffffff;
  font-family: Salsa, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-bh96-Hp8 .auto-group-aecc-RfS .w5-xuS {
  width: 1.8rem;
  height: 1.5rem;
  position: absolute;
  left: 21.3rem;
  top: 31.7rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2275;
  color: rgba(60, 60, 67, 0.3019607961);
  font-family: Salsa, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-bh96-Hp8 .auto-group-aecc-RfS .days-left-GfE {
  width: 4.5rem;
  height: 1.2rem;
  position: absolute;
  left: 19.4rem;
  top: 28rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.1475;
  color: rgba(60, 60, 67, 0.3019607961);
  font-family: Asap, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-bh96-Hp8 .auto-group-aecc-RfS .leetcode-image-z5S {
  width: 1.85rem;
  height: 1.8rem;
  position: absolute;
  left: 1.3rem;
  top: 36.2rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-bh96-Hp8 .auto-group-aecc-RfS .right-arrow-7Qx {
  width: 0.5rem;
  height: 0.8rem;
  position: absolute;
  left: 18rem;
  top: 5.1rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-bh96-Hp8 .auto-group-aecc-RfS .right-arrow-qbr {
  width: 0.5rem;
  height: 0.8rem;
  position: absolute;
  left: 25.3rem;
  top: 5.1rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-bh96-Hp8 .auto-group-qdpa-APE {
  box-sizing: border-box;
  padding: 1.9rem 1.7rem 4.3rem 1.5rem;
  width: 100%;
  height: 16.6rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.4rem 1.5rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-bh96-Hp8 .auto-group-qdpa-APE .auto-group-g1ks-fat {
  margin: 0rem 0.2rem 1.8rem 0.6rem;
  width: calc(100% - 0.8rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-bh96-Hp8 .auto-group-qdpa-APE .auto-group-g1ks-fat .treding-companies-Bp8 {
  margin: 0.3rem 5.4rem 0rem 0rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.1475;
  color: rgba(38, 38, 38, 0.7490196228);
  font-family: Asap, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-bh96-Hp8 .auto-group-qdpa-APE .auto-group-g1ks-fat .auto-group-w4ow-h1n {
  margin-right: 0.9rem;
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-bh96-Hp8 .auto-group-qdpa-APE .auto-group-g1ks-fat .auto-group-31cx-RiU {
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-bh96-Hp8 .auto-group-qdpa-APE .auto-group-phba-xTW {
  margin-bottom: 1.2rem;
  width: 100%;
  height: 3.2rem;
  position: relative;
  flex-shrink: 0;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-bh96-Hp8 .auto-group-qdpa-APE .auto-group-phba-xTW .search-for-a-company-6pc {
  width: 12.2rem;
  height: 1.4rem;
  position: absolute;
  left: 2.9rem;
  top: 1rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.1475;
  color: rgba(0, 10, 32, 0.0509803928);
  font-family: Asap, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-bh96-Hp8 .auto-group-qdpa-APE .auto-group-phba-xTW .search-for-company-tab-c2G {
  width: 23.8rem;
  height: 3.2rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 10, 32, 0.0509803928);
  border-radius: 0.4rem;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-bh96-Hp8 .auto-group-qdpa-APE .auto-group-phba-xTW .seaerch-icon-w4Y {
  width: 1.4rem;
  height: 1.517rem;
  position: absolute;
  left: 0.6rem;
  top: 1rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-bh96-Hp8 .auto-group-qdpa-APE .auto-group-p1cg-4Q4 {
  margin-right: 2.9rem;
  width: calc(100% - 2.9rem);
  height: 1.8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-bh96-Hp8 .auto-group-qdpa-APE .auto-group-p1cg-4Q4 .auto-group-zj5a-bPz {
  margin-right: 0.9rem;
  width: 10rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-bh96-Hp8 .auto-group-qdpa-APE .auto-group-p1cg-4Q4 .auto-group-zj5a-bPz .rectangle-30-jm6 {
  width: 3rem;
  height: 1.2rem;
  position: absolute;
  left: 6rem;
  top: 0.3rem;
  background-color: #ffa116;
  border-radius: 1rem;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-bh96-Hp8 .auto-group-qdpa-APE .auto-group-p1cg-4Q4 .auto-group-zj5a-bPz .facebook-button-sMW {
  width: 10rem;
  height: 1.8rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 10, 32, 0.0509803928);
  border-radius: 1rem;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-bh96-Hp8 .auto-group-qdpa-APE .auto-group-p1cg-4Q4 .auto-group-zj5a-bPz .item-646-nzG {
  width: 2rem;
  height: 1.4rem;
  position: absolute;
  left: 6.5rem;
  top: 0.2rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.1475;
  color: #ffffff;
  font-family: Asap, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-bh96-Hp8 .auto-group-qdpa-APE .auto-group-p1cg-4Q4 .auto-group-zj5a-bPz .facebook-hLY {
  width: 5.2rem;
  height: 1.4rem;
  position: absolute;
  left: 0.5rem;
  top: 0.2rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.1475;
  color: rgba(38, 38, 38, 0.7490196228);
  font-family: Asap, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-bh96-Hp8 .auto-group-qdpa-APE .auto-group-p1cg-4Q4 .auto-group-9rac-D3z {
  width: 10rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-bh96-Hp8 .auto-group-qdpa-APE .auto-group-p1cg-4Q4 .auto-group-9rac-D3z .rectangle-31-m5W {
  width: 4rem;
  height: 1.2rem;
  position: absolute;
  left: 5.3rem;
  top: 0.3rem;
  background-color: #ffa116;
  border-radius: 1rem;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-bh96-Hp8 .auto-group-qdpa-APE .auto-group-p1cg-4Q4 .auto-group-9rac-D3z .amazon-button-tvp {
  width: 10rem;
  height: 1.8rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 10, 32, 0.0509803928);
  border-radius: 1rem;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-bh96-Hp8 .auto-group-qdpa-APE .auto-group-p1cg-4Q4 .auto-group-9rac-D3z .item-1280-332 {
  width: 2.6rem;
  height: 1.4rem;
  position: absolute;
  left: 6.1rem;
  top: 0.2rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.1475;
  color: #ffffff;
  font-family: Asap, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-JoN .auto-group-74qz-xuA .auto-group-pzva-3JL .auto-group-bh96-Hp8 .auto-group-qdpa-APE .auto-group-p1cg-4Q4 .auto-group-9rac-D3z .amazon-YkU {
  width: 4.4rem;
  height: 1.4rem;
  position: absolute;
  left: 0.7rem;
  top: 0.2rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.1475;
  color: rgba(38, 38, 38, 0.7333333492);
  font-family: Asap, 'Source Sans Pro';
  white-space: nowrap;
}
